<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="text-center">
            JOBS
        </ion-title>

        <!-- <ion-buttons end>
            <button ion-button small (click)="selectJob()" *ngIf="isSelected">Select</button>
            <button ion-button small (click)="cancelSelect()" *ngIf="!isSelected">Cancel</button>
        </ion-buttons> -->

            <ion-icon name="ios-eye-outline" *ngIf="!isAvailable" color="light" class="isAvailable-icon"></ion-icon>
            <ion-icon name="ios-eye-off-outline" *ngIf="isAvailable" color="light" class="isAvailable-icon"></ion-icon>    
            <ion-toggle [(ngModel)]="isAvailable" class="isAvailable-toggle"></ion-toggle> 


    </ion-navbar>
<ion-navbar>
    <ion-searchbar [(ngModel)]="queryText" [formControl]="searchControl" (ionInput)="setFilteredItems()"></ion-searchbar>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
</ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="refreshAll($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <ion-list-header>OUTSTANDING JOBS TODAY</ion-list-header>

    <ion-list [virtualScroll]="courierJobs" [approxItemHeight]="'132px'">
        <ion-item-sliding *virtualItem="let outstndJob; let i = index">
            <button ion-item (press)="showItemDetailOnHold(outstndJob)">           
                    <ion-checkbox class="animated slideInLeft" checked="false" [(ngModel)]="toggleCheck[i]" (ionChange)="selectedItems(outstndJob)"></ion-checkbox>
                         <!--right side of list item-->
                        <div item-end  (click)="jobDetails(outstndJob)">
                            <ion-chip>
                                <h2 class="ticket-no">#{{outstndJob.TicketNo}} &nbsp; &nbsp; - &nbsp; &nbsp;{{outstndJob.Description}}</h2>
                            </ion-chip>
        
                            <h3 class="ticket-title"><strong>PICKUP:</strong></h3>
                            <div class="ticket-desc">
                                <p>{{outstndJob.Paddress}}</p>
                            </div>
                            <h3 class="ticket-title"><strong>DELIVER:</strong></h3>
                            <div class="ticket-desc">
                                <p>{{outstndJob.Daddress}}</p>
                            </div>
                        </div>
     
             </button>
            <!--right side of list item-->
            <ion-item-options side="left">
                <button ion-button color="danger">Call Customer</button>
            </ion-item-options>

            <ion-item-options side="right">
                <!-- <button ion-button color="light" (click)="signToSendPOD($event, outstndJob)">Onboard</button>
                <button ion-button color="danger" danger (click)="signToSendPOD($event, outstndJob)">Decline</button>
                <button ion-button color="secondary" (click)="signToSendPOD($event, outstndJob)">Accept</button> -->
                <button ion-button color="primary" (click)="slideToSendPOD(outstndJob)">Send Pod</button>
            </ion-item-options>
             <ion-badge color="secondary">D</ion-badge>   
        </ion-item-sliding>

    </ion-list>
    <ion-fab right bottom>
            <button  ion-fab  color="primary" class="animated slideInUp" (click)="actionToSendPOD() "><ion-icon name="arrow-dropright"></ion-icon></button>
    </ion-fab>
</ion-content>